<div class="register1 mt-5" >
  <div class="row">
    <div class="d-flex col-md-6 inscrire border">
      <div style="margin:auto;">
      <h2 style="color: #F2F2F2;">Inscrivez Vous !<br>Soyez plus qu'un passant!</h2>   
      <p class=" text-justify mr-3 ml-3 mt-5" style="color: #F2F2F2;;">Ma ville accessible est une application mobile de mise en relation permettant de signaler le manque d’accessibilité d’un site afin de prévenir une autorité (association, mairie)  
     Cette signalisation peut être faite à l’aide d’une photo ou simplement grâce aux coordonnées géographique suivi d’une courte description.</p> 
     </div>
    </div> 

  <div class="d-flex col-md-6 border">
    <div style="margin:auto;">
    <h2 style="color: black;">Vos informations</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <br />
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: 'Nom : Dupont'  %>
    </div>
    <br />
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail : xxxxxx@xxxcom' %>
    </div>
    <br />
    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)<br></em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe : ******'  %>
    </div>
    
    <br />

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmer le mdp'  %>
    </div>
    <br />
    <div class="actions mt">
      <%= f.submit "S'inscrire" %>
    </div>
  <% end %>
  <div class="mt-3"><%= render "devise/shared/links" %></div>
</div>
</div>
</div>
</div>