<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"async defer></script>
<div class="jumbotron" style="background-image: url('<%= "https://source.unsplash.com/1920x600/?#{@city.name}" %>');">
	<h1><%= @city.name %></h1>
</div>
<% coordonnees = Geocoder.search(@city.name) 
	@latitude = coordonnees.first.latitude
	@longitude = coordonnees.first.longitude %>

<div id="map" style="height:40vh;"></div>


<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%=@latitude%>, lng: <%=@longitude%>},
        zoom: 13
    });  
    <% @city.reports.each do |report| %>
        var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= report.latitude %>, <%= report.longitude %>),
        });
        marker.setMap(map);
    <% end %>
}
</script>

<div class="col-md-12 mt-5">
	<div class="row">
		<%= render @city.reports.ordered_by_likes %>
	</div>
</div>

