<p>Quel problème voulez signaler ?</p>

<%= simple_form_for @report do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title, placeholder: 'Titre du signalement' %>
      <%= f.input :text, placeholder: 'Description du signalement' %>
      <%= f.input :picture %>
    </div>
    <div class="col-md-6">
      <button class="btn btn-outline-success" id="btn-loc">Localiser votre position</button> 
      <div id="alert-localisation"></div>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
    </div>
  </div>
  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end %>



<!-- Localisation script-->
<script type="text/javascript">
window.onload = function() {
 var btn = document.getElementById("btn-loc");
 var long = document.getElementById("report_longitude");
 var lat = document.getElementById("report_latitude");
 var alertLoc = document.getElementById("alert-localisation");

 btn.addEventListener("click", getLocation);


  function getLocation(event) {
    event.preventDefault();

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      // navigator.geolocation.watchPosition(showPosition, showError);
    } else {
      alertLoc.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
  }
}
</script>

</div>