<div class="report__form__container">

  <p class="report__subtitle">Quel problème voulez-vous signaler ?</p>

  <%= simple_form_for @report do |f| %>
    <div class="row form-group">
      <div class="col-md-6 ">
        <%= f.input :title, :label => "Titre", placeholder: 'Titre du signalement'%>
        <%= f.input :text, :label => "Description", placeholder: 'Description du signalement', class: 'noresize' %>
        <div >
          <%= f.input :picture, :label => "Photo" %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="alert-localisation"></div>
        <%= f.input :latitude, placeholder: '44.2440' %>
        <%= f.input :longitude, placeholder: '-9.3270' %>
        <button class="btn btn-outline-success btn-form" id="btn-loc">Se géolocaliser</button>
      </div>
        
    </div>
    <hr>
    <div class="btn__validate__container">
      <%= f.submit 'Signaler le problème', class: 'btn btn-primary btn__validate' %>
    </div>
  <% end %>

</div>

<!-- Localisation script-->
<script type="text/javascript">
window.onload = function() {
 var btn = document.getElementById("btn-loc");
 var long = document.getElementById("report_longitude");
 var lat = document.getElementById("report_latitude");
 var alertLoc = document.getElementById("alert-localisation");

 btn.addEventListener("click", getLocation);


  function getLocation(event) {
    event.preventDefault();

    var options = {
      enableHighAccuracy: true,
      timeout: 10000,
      maximumAge: 0
    };
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition,showError,options);
    } else {
        showError();
    }
  }
  function showPosition(position) {
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
    console.log(`La précision est de ${position.coords.accuracy} mètres.`);
  }
  function showError(){
    alertLoc.innerHTML = "La géolocalisation n'est pas prise en charge par ce navigateur.";
  }
}
</script>

</div>
