<div class="register1">

  <p>Quel problème voulez-vous signaler ?</p>

<%= simple_form_for @report do |f| %>
  <div class="row">
    <div class="col-md-6 ">
      <%= f.input :title, placeholder: 'Titre du signalement' %>
      <%= f.input :text, placeholder: 'Description du signalement' %>
      <div >
        <%= f.input :picture  %>
      </div>
    </div>
    <div class="col-md-6">
      <div id="alert-localisation"></div>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
      <button class="btn btn-outline-success btn-form" id="btn-loc">Géolocalisation</button>
    </div>
      
  </div>
  <%= f.submit 'Valider', class: 'btn btn-primary b_conect' %>
<% end %>



<!-- Localisation script-->
<script type="text/javascript">
window.onload = function() {
 var btn = document.getElementById("btn-loc");
 var long = document.getElementById("report_longitude");
 var lat = document.getElementById("report_latitude");
 var alertLoc = document.getElementById("alert-localisation");

 btn.addEventListener("click", getLocation);


  function getLocation(event) {
    event.preventDefault();

    var options = {
      enableHighAccuracy: true,
      timeout: 10000,
      maximumAge: 0
    };
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition,showError,options);
    } else {
      alertLoc.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
    console.log(`La précision est de ${position.coords.accuracy} mètres.`);
  }
  function showError(){
    alertLoc.innerHTML = "Geolocation is not supported by this browser.";
  }
}
</script>

</div>
