<div class="col-md-3 mb-5 grid-item">
  <%= link_to report do %>
    <%= image_tag report.picture.url(angle: :exif), class: 'img-fluid' %>
    <h2 class="mb-1"><%= report.title %></h2>
    <span class="badge badge-primary"><%= report.likes.count %> Soutiens</span>
    <p><%= report.text %></p>
    <p class="text-muted" style="margin-top: -15px">Signalé par <%= report.user %> le <%= report.created_at.strftime "%d/%m/%Y" %></p>
  <% end %>
  <% if current_user&.admin%>
    <div>
      <%= link_to 'Effacer', report, method: :delete, data: { confirm: 'Êtes-vous sur ?' }, class: 'btn btn-danger btn-sm'%>
      <% if current_user == report.user %>
      <%=link_to 'Modifier', edit_report_path(report), class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>
  <% end %>
</div>