<%= link_to report do %>
<div class="col-md-10 mb-5 grid-item macard" style="background-image: url(<%=report.picture.url(angle: :exif, quality: 'auto')%>);">
  <div class="cardgradientreport">
    <p class="badge badge-primary boutontraitementreport <%= report.state %>"><%= report.state %></p>
    <div class="contentbascard">
      <div class="divpart2report">
        <h2 class="mb-1 textblanc titrereport"><%= report.title %></h2>
        <span class="badge badge-primary textnbsignalementreport"><%= report.likes.count %> Soutiens</span>
      </div>

      <div class="divpart3report">
        <p class="textblanc descreport"><%= report.text %></p>
        <p class="text-muted textblanc signaleparreport" style="margin-top: -15px">Signalé par <%= report.user %> le <%= report.created_at.strftime "%d/%m/%Y" %></p>
      </div>
    </div>
  </div>
</div>
<% end %>

  <% if current_user&.admin%>
    <div>
      <%= link_to 'Effacer', report, method: :delete, data: { confirm: 'Êtes-vous sur ?' }, class: 'btn btn-danger btn-sm'%>
      <% if current_user == report.user %>
        <%= link_to 'Modifier', edit_report_path(report), class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>
</div>
  <% end %>
