<div class="container g-content">
  <h1>Signalements prioritaires</h1>
  <br>
  <ul class="list-unstyled">
    <% @reports.each do |report| %>
      <%= link_to report do %>
        <li class="media mb-5">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag report.picture.url, class: 'img-fluid' %>
            </div>
            <div class="col-md-4">
              <h2 class="mb-1"><%= report.title %></h2>
              <%= report.text %>
              <%= report.user %>
            </div>
            <div class="col-md-2">
              <%= report.likes.count %> likes
            </div>
          </div>
        </li>
      <% end %>
    <%end%>
  </ul>
</div>


