<div class=container>
  <h1>Mes signalements</h1>
<div class="row">
    <% @reports.each do |report| %>
      <% if report.user == current_user %>
        <div class="card col-md-3 form-group">
          <%= image_tag report.picture.url, class: 'card-img-top thumbnail' %>
          <div class="card-body">
            <h2 class="card-title"><%= report.title %></h2>
            <p class="card-text"><%= report.text %></p>
            <%= link_to 'Edit', edit_report_path(report), class: 'btn btn-primary' %> | <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'%> | <%= (report.likes.count) %> likes
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

