<div class="container g-content" >
  <h1>Mes signalements</h1>
  <div class="row">
    <% @reports.each do |report| %>
      <%= link_to report do %>
        <div class="col-md-4 mt-5">
          <%= image_tag report.picture.url, class: 'img-fluid' %>
          <h2><%= report.title %></h2> <span class="badge badge-primary"><%= report.likes.count %> soutiens</span>
          <p class="mt-2"><%= report.text %></p>
          <%= link_to 'Modifier', edit_report_path(report), class: 'btn btn-info btn-sm' %> | 
          <%= link_to 'Effacer', report, method: :delete, data: { confirm: 'Vous-êtes sur ?' }, class: 'btn btn-danger btn-sm'%> 
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% # TODO ajouter une carte de mes signalements %>