<div class="container g-content" >
  <h1>Mes signalements</h1>
  <div class="row mt-5">
    <% @reports.each do |report| %>
      <%= link_to report do %>
        <div class="col-md-4">
          <%= image_tag report.picture.url, class: 'img-fluid' %>
          <h2><%= report.title %></h2>
          <p><%= report.text %></p>
          <%= link_to 'Edit', edit_report_path(report), class: 'btn btn-primary' %> | 
          <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'%> |
          <%= (report.likes.count) %> likes
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% # TODO ajouter une carte de mes signalements %>