<p id="notice"><%= notice %></p>

<p><%= @report.likes.count %> <%= (@report.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @report.text %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @report.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @report.longitude %>
</p>
<p>
  <strong>Image:</strong>
  <%= cl_image_tag("sample.png", :secure=>true, :transformation=>[
  {:width=>150, :height=>150, :gravity=>"face",}])%>
  
</p>

<% pre_like = @report.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', report_like_path(@report, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', report_likes_path(@report), method: :post %>
<% end %>

<%= link_to 'Edit', edit_report_path(@report) if @report.user == current_user %>

<%= link_to 'Back', reports_path %>
