<p id="notice"><%= notice %></p>

<div class="card" style="width: 18em;">
 <div class="card-body">
   <%= image_tag @report.picture.url %>
   <h5 class="card-title"><%= @report.title %></h5>
   <p class="card-text"><%= @report.text %></p>
   <p class="card-text"><%= @report.likes.count %> <%= (@report.likes.count) == 1 ? 'membre.s ont aimé ce post !' : 'membre.s ont aimé ce post !'%></p>
    <%= link_to 'Edit', edit_report_path(@report), class: 'btn btn-info' if @report.user == current_user %>
    <%= link_to 'Back', reports_path, class: 'btn btn-outline-secondary'%>
    <% pre_like = @report.likes.find { |like| like.user_id == current_user.id} %>
    <p></p>
    <div class="dislikeandlikebutton">
       <% if pre_like %>
            <%= button_to 'Like', report_like_path(@report, pre_like), method: :delete, class: 'btn btn-danger btn-lg btn-block' %>
       <% else %>
    <%= button_to 'Like', report_likes_path(@report), method: :post, class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
    </div>
 </div>
</div>