<div class="container">
   <%= image_tag @report.picture.url, class: 'img-fluid' %>
   <h1><%= @report.title %></h1>
   <p><%= @report.text %></p>
   <p><%= @report.likes.count %> <%= (@report.likes.count) == 1 ? 'membre.s ont aimé ce post !' : 'membre.s ont aimé ce post !'%></p>
    <%= link_to 'Edit', edit_report_path(@report), class: 'btn btn-info' if @report.user == current_user %>
    <%= link_to 'Back', reports_path, class: 'btn btn-outline-secondary'%>
    <% existing_like = @report.likes.find { |like| like.user_id == current_user.id} %>
    <div class="dislikeandlikebutton">
       <% if existing_like %>
        <%= button_to 'Unlike', report_like_path(@report, existing_like), method: :delete, class: 'btn btn-danger btn-lg' %>
       <% else %>
         <%= button_to 'Like', report_likes_path(@report), method: :post, class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
 </div>
</div>

