<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ma ville accessible, signalez les problèmes d'accesssibilité</title>
    <meta name="description" content="Ma Ville Accessible vous permet de signaler les problèmes d'accessibilité dans votre ville ou votre université pour rendre votre environnement plus sain. ">
    <meta name="keywords" content="accessibilité,problème,handicap,résoudre,solutions">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152958479-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152958479-1');
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-lignt">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
<<<<<<< HEAD
        <div class="logo">
          <%= link_to image_tag("iconMVA.png", :alt => "Menu" ), root_path %>
        </div>
=======
        <div class="logo">
          <%= link_to image_tag("iconMVA.png", :alt => "Menu" ), root_path %>
        </div>
>>>>>>> 4e428a504eff8b7a2024a0a2b462daa4f6635819
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav mr-auto titres">
            <li class="nav-item icon">
              <%= link_to image_tag("iconMVA.png", :alt => "Menu" ), root_path %>
            </li>
            <li class="nav-item titre_a">
             <%= link_to "Ma ville accessible", root_path %>
            </li>
            <li class="nav-item <%= ' active' if request.path == root_path %>">
              <a class="nav-link" href="<%= root_path %>">
                Accueil
                <span class="sr-only">(current)</span></a>
            </li>
        <!--    <li class="nav-item<%= ' active' if request.path == reports_path %>">
              <%= link_to "Tous les signalements", reports_path, class: "nav-link smooth-scroll" %>
            </li>   -->
            <li class="nav-item<%= ' active' if request.path == new_report_path %>">
              <%= link_to "Faire un signalement", new_report_path, class: "nav-link smooth-scroll" %>
            </li>
        <!--    <li class="nav-item<%= ' active' if request.path == cities_path %>">
              <%= link_to "Villes", cities_path, class: "nav-link smooth-scroll" %>
            </li>  -->
            <li class="nav-item<%= ' active' if request.path == cities_path %>">
              <%= link_to "Villes", cities_path, class: "nav-link smooth-scroll" %>
            </li>

          </ul>
            <% if user_signed_in? %>
              <div class="dropdown dropleft nav-item ">
                <button class="btn btn-light dropdown-toggle profil" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user %></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to "Mes signalements", my_reports_path, class: "nav-link smooth-scroll" %>
                  <%= link_to "Editer mon profil", edit_user_registration_path, class: "nav-link smooth-scroll" %>
                  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link smooth-scroll" %>
                </div>
              </div>
            <% else %>
            <ul class="nav navbar-nav navbar-right titres">
              <li class="nav-item mr-2 b_conect b_conect_2">
                <%= link_to "S'inscrire", new_user_registration_path, class: ""%>
              </li>
              <li class="nav-item b_conect_2">
                <%= link_to "Se connecter", new_user_session_path, class: ""%>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
