<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ma ville accessible</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    
<div class="container">



 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><strong>Ma Ville Accessible</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Accueil<span class="sr-only">(current)</span></a>
        
      </li>
      <li class="nav-item active">
        <%= link_to "Demandes", reports_path, class: "nav-link smooth-scroll" %>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
          

          <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Editer le profil", edit_user_registration_path, class: "btn btn-light" %></li>
              <li class="nav-item"><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
          <% else %>
              <li class="nav-item"><%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-light" %></li>
              <p></p> 
              <li class="nav-item"><%= link_to "Se connecter", new_user_session_path, class: "btn btn-success" %></li>

          <% end %>

    </ul>

  </div>


</nav>

</div>

<%= yield %>


</body>
</html>
